@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

@media only screen and (max-width: 500px) {
    body {
        margin: 0;
        background-color: #161624;
        color: white;
        font-family: 'Lato', sans-serif;
    }
    .pageTitle {
        margin-top: 25px;
        margin-left: 25px;
        font-size: 2em;
        color: #f57e2f;
    }
    .titleColor {
        color: white;
    }
    .containerSpotlight {
        width: 330px;
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        &:hover {
            transform: translateX(-8px);
        }
        a {
            text-decoration: none;
            color: white;
        }
        .spotlightGroup {
            display: flex;
            align-items: center;
            position: relative;
            background: hsla(0, 0%, 48%, 0.6);
            box-shadow: 0 8px 32px 0 #1f26875e;
            backdrop-filter: blur(8px);
            border-radius: 12px;
            border: 1px solid #ffffff2e;
            width: 300px;
            height: 60px;
            left: 12px;
            top: 125px;        
            .playIcon {
                margin-top: 6px;
                margin-left: 10px;
                font-size: 2em;
                color: #f57e2f;
            }
            .textDiv {
                margin-left: 20px;
                p {
                    margin-bottom: 0;
                    color: #2b2929;
                    font-weight: 400;
                    font-size: 0.9em;
                    text-shadow: 2px 1px 6px #f3f3f3;
                }
                h2 {
                    width: 130%;
                    font-size: 1.1em;
                    font-weight: 700;
                    margin-top: 0;
                    text-shadow: 3px 3px 6px #1a1919;
                }
            }
        }
    }
    .subTitle {
        margin-top: 35px;
        margin-left: 25px;
    }
    .movieList {
        display: flex;
        // flex-direction: column;
        // align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-left: 15px;
        a {
            text-decoration: none;
        }
        .card {
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            border-radius: 20px;
            width: 250px;
            height: 330px;
            padding: 10px;
            margin: 10px;
            .rateGroup {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: hsla(0, 0%, 48%, 0.6);
                box-shadow: 0 8px 32px 0 #1f26875e;
                backdrop-filter: blur(8px);
                border-radius: 12px;
                border: 1px solid #ffffff2e;
                width: 65px;
                height: 50px;
                top: 15px;
                left: 180px;
                .rate {
                color: white;
                font-size: 1.1em;
            }
            .rateIcon {
                color: #F3BE00;
                font-size: 1.4em;
            }
            }
            .title {
                text-align: center;
                position: relative;
                color: #ffffff;
                background: hsla(0, 0%, 48%, 0.6);
                box-shadow: 0 8px 32px 0 #1f26875e;
                backdrop-filter: blur(8px);
                border-radius: 12px;
                border: 1px solid #ffffff2e;
                width: 245px;
                padding: 20px 0;
                top: 190px;
                text-shadow: 2px 2px 6px #161624;
            }
        }
    }
}