@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

@media only screen and (max-width: 500px) {
    body {
        margin: 0;
        background-color: #15141F;
        color: white;
        font-family: 'Lato', sans-serif;
    }
    .container {
        img {
            margin: 25px;
            margin-bottom: 0;
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 20px;
        }
        .pseudo {
            margin-top: 5px;
            font-size: 2em;
            font-weight: 700;
            margin-left: 25px;
        }
    }
}